-e .
jupyter==1.0.0
click==7.0
pytest-mypy==0.3.3
pytest==5.0.1
pytest-cov==2.7.1
codecov==2.0.15
black==19.3b0
matplotlib==3.1.1
numpy==1.16.4
pypandoc==1.4
bumpversion==0.5.3
wheel==0.33.4
tox==3.13.2
coverage==4.5.3
Sphinx==2.1.2
sphinxcontrib.fulltoc==1.2.0
sphinx-click==2.2.0
twine==3.4.1
